@import "src/core/colors";
@import "src/core/fontAwesome";
@import "src/core/fonts";
@import "src/core/mixins";

@include keyframes(pauseToPlay) {
    0% {
        //@include icon(pause);
    }
    50% {
        color: transparent;
    }
    100% {
        //@include icon(play);
    }
}

@include keyframes(playToPause) {
    0% {
        //@include icon(play);
    }
    50% {
        color: transparent;
    }
    100% {
        //@include icon(pause);
    }
}

.fullscreen .playback-pane {
    display: none;
}

.theme-dark .playback-pane {
    background-color: $black;
    color: $white;
}

.playback-pane {
    height: 4em;
    padding: 1em;
    background: $white;
    @include collapsable;

    & button {
        border: none;
        background-color: $primary-light;
        display: inline-block;
        width: 2em;
        height: 2em;
        padding: 0;
        color: $black;
        font-size: 0.875em;
        margin: 0;

        &:disabled {
            opacity: 0.375;
            cursor: default;
        }

        &:hover, &:focus {
            &:not(:disabled) {
                background-color: $secondary-light;
            }
        }
    }

    & .playback-pane-top-most {
        & .playback-pane-top {
            margin-left: 5em;
        }

        & .playback-time {
            float: left;
            text-align: left;
            width: 5em;
            @extend .font-monospace;
        }
    }

    & .playback-pane-bottom {
        margin-top: 1em;

        & .playback-pane-bottom-left {
            float: left;
            display: inline-block;
        }

        & .playback-pane-bottom-right {
            float: right;
            display: inline-block;

            & > * {
                float: left;
            }
        }
    }

    & #play-pause-button {
        margin-right: 1.5em;

        &:before {
            @include icon(play);
        }
    }

    &.playing #play-pause-button:before {
        @include icon(pause);
    }

    & #next-button {
        margin-left: 0.5em;
        &:before {
            @include icon(forward);
        }
    }

    & #back-button:before {
        @include icon(backward);
    }


    & #speed-slider {
        margin: 0 1em 0 3.25em;

        &:before {
            @include icon(tachometer);
            font-size: 2em;
            margin-left: -1.125em;
            margin-right: 0.25em;
            color: $black;

            @include dark-mode {
                color: $white;
            }
        }
    }

    & #fullscreen-button {
        &:before {
            @include icon(arrows-alt);
        }
    }

    & #playback-slider {
        width: 100%;
    }

    & #turns-button, & #deltas-button {
        display: none; // hide them for now as they are unfinished
    }

    & #turns-button:before {
        @include icon(tasks);
    }

    & #deltas-button:before {
        @include icon(minus);
    }

    & #turns-button, & #deltas-button {
        &:not(.active) {
            opacity: 0.375;
        }
    }
}
