<li id="{{id}}" class="tree-view-node">
	<header>
		<span class="node-key">{{key}}</span>
		<span class="node-key-value-spacer">=</span>
		<span class="node-value">{{value}}</span>
	</header>
	<ul class="node-children"></ul>
</li>