<div class="game-pane">
	<div class="top-game-info">
	Turn: <span class="current-turn"></span>
	</div>
	<div class="players-wrapper">
		<div class="players">
		{{#each players}}
			<div class="player-wrapper">
				<ul class="player player-{{this}}">
				</ul>
			</div>
		{{/each}}
		</div>
	</div>
</div>