<div class="game-pane">
	<div class="top-game-info">
	Turn: <span class="current-turn"></span>
	</div>
	<div class="players-wrapper">
		<div class="players">
		{{#each players}}
			<div class="player-wrapper">
				<div class="player player-{{this}}">
					<div class="player-name"></div>
					<div class="player-time"></div>
					<div class="player-reason-won"></div>
					<div class="player-reason-lost"></div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
</div>