@import "core/colors";

.game-pane {
    background-color: $light-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    & .top-game-info {
        width: 100%;
        background-color: $light-black;
        color: $white;
        text-align: center;
        padding: 0.25em 0;
    }

    & .players-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: fixed;

        & > .players {
            display: table-row;

            & > * {
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                & .player {
                    padding: 0.5em;
                    background-color: $white;
                    border: 0.25em $light-gray solid;
                    color: $white;

                    // programming language background
                    background-repeat: no-repeat;
                    background-position: center right 16px;
                    background-size: 1.75em 1.75em;

                    & > li {
                        display: inline;
                        margin-right: 1em;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    & .player-name {
                        font-weight: bold;
                    }

                    & .player-timeRemaining {
                        color: $light-gray;

                        &:before {
                            content: "(";
                        }
                        &:after {
                            content: ")";
                        }
                    }

                    & .player-reason-won,
                    & .player-reason-lost {
                        margin-top: 0.5em;

                        &:empty {
                            display: none;
                        }
                    }

                    & .player-reason-won:before {
                        content: "Won - ";
                    }

                    & .player-reason-lost:before {
                        content: "Lost - ";
                    }
                }

                & .player.current-player {
                    border-color: $secondary;
                }
            }
        }
    }

    & .player-wrapper:nth-child(2) .player {
        background-position: center left 16px;
    }
}
