@import "core/mixins";
@import "core/colors";
@import "core/fontAwesome";
@import "core/style";

.gui {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &.resizing {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        & *, .resizing {
            @include transition(height 0s, width 0s !important);
        }
    }

    & .loader {
        display: block;
        width: 100%;
        text-align: center;
    }

    & .visualizer-pane-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    & .playback-pane-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    & .renderer-wrapper {
        background-color: #000;
    }
}
