<div id="{{id}}" class="playback-pane">
	<div class="playback-pane-top-most">
		<div class="playback-time">
			<span class="playback-time-current">----</span>/<span class="playback-time-max">----</span>
		</div>
		<div class="playback-pane-top"></div>
	</div>
	<div class="playback-pane-bottom">
		<div class="playback-pane-bottom-left"></div>
		<div class="playback-pane-bottom-right"></div>
	</div>
</div>