@import "core/colors";
@import "core/fontAwesome";
@import "core/fonts";
@import "core/mixins";

@include keyframes(pauseToPlay) {
    0% {
        //@include icon(pause);
    }
    50% {
        color: transparent;
    }
    100% {
        //@include icon(play);
    }
}

@include keyframes(playToPause) {
    0% {
        //@include icon(play);
    }
    50% {
        color: transparent;
    }
    100% {
        //@include icon(pause);
    }
}

.fullscreen .playback-pane {
    display: none;
}

.playback-pane {
    height: 4em;
    padding: 1em;
    background: $white;

    & button {
        border: none;
        background: $primary-lightest;
        display: inline-block;
        width: 2em;
        height: 2em;
    }

    & .playback-pane-top-most {
        & .playback-pane-top {
            margin-left: 5em;
        }

        & .playback-time {
            float: left;
            text-align: left;
            width: 5em;
            @extend .font-monospace;
        }
    }

    & .playback-pane-bottom {
        margin-top: 1em;

        & .playback-pane-bottom-left {
            float: left;
            display: inline-block;
        }

        & .playback-pane-bottom-right {
            float: right;
            display: inline-block;
        }
    }

    & #play-pause-button {
        margin-right: 1.5em;

        &:before {
            @include icon(play);
        }
    }

    &.playing #play-pause-button:before {
        @include icon(pause);
    }

    & #stop-button {
        margin: 0 0.25em;

        &:before {
            @include icon(stop);
        }
    }

    & #next-button:before {
        @include icon(forward);
    }

    & #back-button:before {
        @include icon(backward);
    }


    & #speed-slider:before {
        @include icon(clock-o);
        font-size: 2em;
        margin-left: -1.125em;
        color: $black;
    }

    & #fullscreen-button {
        float: right;
        margin: 0.125em 0 0 1em;

        &:before {
            @include icon(arrows-alt);
        }
    }

    & #playback-slider {
        width: 100%;
    }
}
