@import "core/colors";

//<<-- Creer-Merge: scss -->> - Code you add between this comment and the end comment will be preserved between Creer re-runs.

.game-pane.game-Chess {
    & .player-0 {
        background-color: #FFF !important;
        color: $black !important;

        & .stat-timeRemaining {
            color: $light-black !important;
        }
    }

    & .player-1 {
        background-color: #000 !important;
    }
}

//<<-- /Creer-Merge: scss -->>
