<div id="{{id}}" class="help-tab">
	<div class="help-sections">
		<section class="main-help">
			<header>Help</header>
			<p>This is ACM SIG-GAME's visualizer, <strong>Viseur</strong>. Viseur takes the results of a game, called a gamelog, and plays back the events via graphics so you can understand what happened in the game.</p>
		</section>
		<section class="help-example-gamelog">
			<header>Example Gamelog</header>
			<p>Want to see how this works instantly? View our <a href="{{exampleGamelogUrl}}">example gamelog here</a>.</p>
		</section>
		</section>
		<section class="help-contact">
			<header>Contact</header>
			<p>If you have any questions or problems relating to Viseur please contact <a href="mailto:siggame@mst.edu">siggame@mst.edu</a>.</p>
		</section>
		<section class="help-github">
			<header>GitHub</header>
			<p>This is an open source software released and hosted on <a href="https://github.com/siggame/Viseur">GitHub</a> for your use. You can file bug reports on our public <a href="https://github.com/siggame/Viseur/issues">Issues Tracker</a> and we'll try to work with you to fix the issues.</p>
		</section>
		<section class="help-discord">
			<header>Discord</header>
			<p>We have a Discord! <a href="https://discord.gg/Jq6kTGa">Join us via this link</a> were you can get more immediate help, or voice your concerns about Viseur, or any of the various SIG-Game open source software.</p>
		</section>
	</div>
	<footer class="git-version">
		<a href="https://github.com/siggame/Viseur/commit/{{gitHash}}">{{gitVersion}}</a>
	</footer>
</div>