@import "src/core/fontAwesome";
@import "src/core/colors";
@import "src/core/mixins";

.fullscreen .info-pane {
    display: none;
}

.info-pane {
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.2);
    @include transition(height 0s, width 0s !important); // make it so dragging to resize is instant and not delayed


    & > .info-pane-content, & > .info-pane-resizer {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    & > .info-pane-content {
        background-color: $white;

        @include dark-mode {
            background-color: $black;
            color: $white;
        }
    }

    &.snap-top {
        top: 0;
        left: 0;

        & > .info-pane-content {
            bottom: 0.5em;
        }

        & > .info-pane-resizer {
            bottom: 0;
        }
    }

    &.snap-left {
        top: 0;
        left: 0;

        & > .info-pane-content {
            right: 0.5em;
        }

        & > .info-pane-resizer {
            right: 0;
        }
    }

    &.snap-bottom {
        bottom: 0;
        left: 0;

        & > .info-pane-content {
            top: 0.5em;
        }
    }

    &.snap-right {
        top: 0;
        right: 0;

        & > .info-pane-content {
            margin-left: 0.5em;
        }
    }

    // resizer

    .info-pane-resizer {
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        background: $dark-gray;
        cursor: e-resize;
    }

    &.snap-right, &.snap-left {
        & > .info-pane-resizer {
            width: 0.5em;
        }

        & > .info-pane-content {
            width: calc(100% - 0.5em);
        }
    }

    &.snap-top, &.snap-bottom {
        & > .info-pane-resizer {
            height: 0.5em;
            cursor: n-resize;
        }

        & > .info-pane-content {
            height: calc(100% - 0.5em);
        }
    }

    & .field {
        @include collapsable();
    }


    // tabular content

    & .tabular-content {
        & header {
            font-size: 1.5em;
            margin-bottom: 0.25em;
            color: $primary-darkest;

            @include dark-mode {
                color: $primary-light;
            }
        }

        & section {
            @include collapsable();

            margin-bottom: 1em;

            &.collapsed {
                margin-bottom: 0;
            }

            &.inspect-game {
                max-height: none !important; // special case where a max-height of 9999 could be too small
            }
        }
    }

    & .tabular-tab:before {
        margin-right: 0.5em;
    }

    & #tabular-tab-File:before {
        @include icon(file);
    }

    & #tabular-tab-Inspect:before {
        @include icon(code);
    }

    & #tabular-tab-Settings:before {
        @include icon(cog);
    }

    & #tabular-tab-Help:before {
        @include icon(info-circle);
    }
}

