@import "src/core/mixins";
@import "src/core/style";
@import "src/core/fontAwesome";

.file-tab {
    & .download-gamelog-link {
        @extend .link;

        &:before {
            @include icon(download);
            margin-right: 0.5em;
        }
    }

    & ul.connection-log {
        list-style-type: square;

        & > li {
            margin-left: 1.5em;
            margin-bottom: 0.5em;

            &.error {
                color: $error;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    & #remote-gamelog-button:before {
        @include icon(eye);
        margin-right: 0.5em;
    }

    & #connect-connect-button:before {
        @include icon(sign-in);
        margin-right: 0.5em;
    }

    & button {
        margin-left: 12.25em;
    }

    & #local-gamelog-input-label {
        @include button();
        width: auto;

        &:before {
            @include icon(upload);
            margin-right: 0.5em;
        }
    }

    & #local-gamelog-input {
        display: none;
    }
}
