@import "./mixins";
@import "./fonts";
@import "./colors";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

*, *:before, *:after {
    @include transition(all 0.35s ease-in-out);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @extend .font-normal;
}

code, pre {
    @extend .font-monospace;
}

a, .link {
    color: $primary-dark;
    text-decoration: underline;

    &:hover, &:focus {
        color: $secondary-dark;
        cursor: pointer;
    }
}

button {
    background-color: $primary;
    color: $white;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: none;
    font-size: 1em;

    &:hover, &:focus {
        background-color: $primary-dark;
        color: $white;
        cursor: pointer;
    }
}

input, style, button {
    @extend .font-normal;
}

@import "./range";

#main {
    width: 100%;
    height: 100%;
}
