@import "src/core/mixins";

.renderer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    & canvas {
        // Disables right click
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        -o-user-select: none;
        user-select: none;

        @include transition(height 0s, width 0s !important);
    }
}

.gamelog-loaded .renderer {
    opacity: 1;
}
