<div id="{{id}}" class="settings-tab">
    <section class="core-settings">
        <header>Core Settings</header>
    </section>

    <section class="game-settings">
        <header><span class="game-name">Game</span> Settings</header>
    </section>
</div>