<div id="{{id}}" class="inspect-tab">
	<section class="inspect-no-gamelog">
		<em>Load a gamelog to inspect it.</em>
	</section>
	<section class="inspect-gamelog-loaded">
		<header>Inspect Gamelog</header>
		<div class="inspect-tree-root"></div>
	</section>
</div>
