@mixin inspect-value($type) {
    &[data-inspect-type="#{$type}"] > header > .node-value {
        @content;
    }
}

@mixin inspect-key($type) {
    &[data-inspect-type="#{$type}"] > ul > li > header > .node-key {
        @content;
    }
}

:not(.gamelog-loaded) .inspect-tab {
    & .inspect-no-gamelog {
        display: block;
    }

    & .inspect-gamelog-loaded {
        display: none;
    }
}

.gamelog-loaded .inspect-tab {
    & .inspect-no-gamelog {
        display: none;
    }

    & .inspect-gamelog-loaded {
        display: block;
    }
}

.inspect-tree-root > ul > ul {
    margin-left: 0;
}

.inspect-tab li.tree-view-node {
    @include inspect-value("array") {
        color: orange;
    }

    @include inspect-key("array") {
        color: deeppink;
    }

    @include inspect-value("number") {
        color: deeppink;
    }

    @include inspect-value("map") {
        color: red;
    }

    @include inspect-key("map") {
        color: green;

        &:before, &:after {
            content: "\"";
        }
    }

    @include inspect-value("string") {
        color: green;

        &:before, &:after {
            content: "\"";
        }
    }

    @include inspect-value("boolean") {
        color: darkblue;
    }

    @include inspect-value("null") {
        color: blueviolet;
        font-style: italic;
    }

    @include inspect-value("game-object") {
        color: teal;
    }

    @include inspect-value("root") {
        color: dodgerblue;
    }
}
