<div id="{{id}}" class="file-tab">
	<section class="local-gamelog">
		<header>Local Gamelog</header>
	</section>

	<section class="remote-gamelog">
		<header>Remote Gamelog</header>
	</section>
</div>