<div id="{{id}}" class="file-tab">
	<section class="local-gamelog">
		<header>Local Gamelog</header>
	</section>

	<section class="remote-gamelog">
		<header>Remote Gamelog</header>
	</section>

	<section class="connect">
		<header>Connect</header>
	</section>

	<section class="connection-info">
		<header>Connection Info</header>
		<ul class="connection-log"></ul>
	</section>

	<section class="download-gamelog">
		<header>Download Gamelog</header>
		<a class="download-gamelog-link" download>Download the gamelog for local playback.</a>
	</section>
</div>