<div id="{{id}}" class="help-tab">
	<section class="main-help">
		<header>Help</header>
		<p>This is ACM SIG-GAME's visualizer, Viseur. Viseur takes the results of a game, called a gamelog, and plays back the events via graphics so you can understand what happened in the game.</p>
	</section>
</div>