<div id="{{id}}" class="inspect-tab">
	<div class="gamelog-needed">Load a gamelog to inspect it.</div>
	<div class="inspecting">
		<section class="inspect-game">
			<header titlte="The Game object at the current state.">Game</header>
		</section>

		<section class="inspect-delta">
			<header title="The change in state information">Delta</header>
			<div title="Why this delta was generated.">Type: <span class="delta-type"></span></div>
			<div class="delta-data">
				<header title="Additional data that caused the delta.">Data</header>
			</div>
		</section>

		<section class="inspect-gamelog">
			<header>Gamelog</header>
			<div title="The time and date this gamelog was generated.">Date: <span class="gamelog-date"></span></div>
			<div title="The random seed used for procedural generation.">Random Seed: <span class="gamelog-random-seed"></span></div>
			<div title="The game name.">Game: <span class="gamelog-game-name"></span></div>
			<div title="The session ID.">Session: <span class="gamelog-game-session"></span></div>
		</section>
	</div>
</div>