@import "core/colors";

.settings-tab {
    & #resolution-width-field, & #resolution-height-field {
        margin-left: 2em;
    }

    & .no-settings {
        color: $dark-gray;
        font-style: italic;
    }

    & #resolution-type-field {
        margin-top: 1em;
    }
}
