$white: #fff;
$black: #000;
$near-black: #121212;
$light-black: #555;

$light-gray: #ddd;
$gray: #bbb;
$dark-gray: #999;

$error: #c82104;//#e02605;

$primary: #0D9DF2;
$primary-dark: #3C7BA0;
$primary-darkest: #02517F;
$primary-light: #71C9FD;
$primary-lightest: #C1E6FD;

$secondary: #FF8C00;
$secondary-dark: #A87639;
$secondary-darkest: #864A00;
$secondary-light: #FFBC6A;
$secondary-lightest: #FFE2BF;

/*
Royal Purple color scheme:

$primary: #652FA9;
$primary-dark: #583A7F;
$primary-darkest: #390F6E;
$primary-light: #9462D4;
$primary-lightest: #A580D4;

$secondary: #E78126;
$secondary-dark: #BB814D;
$secondary-darkest: #A25511;
$secondary-light: #FCAE68;
$secondary-lightest: #FCC28F;

$tertiary: #2BC72B;
$tertiary-dark: #3D953D;
$tertiary-darkest: #0E810E;
$tertiary-light: #5DE35D;
$tertiary-lightest: #81E381;
*/
