$white: #fff;
$black: #000;
$light-black: #555;

$light-gray: #ddd;
$gray: #bbb;
$dark-gray: #999;

$error: #c82104;//#e02605;

$primary: #0D9DF2;
$primary-dark: #3C7BA0;
$primary-darkest: #02517F;
$primary-light: #71C9FD;
$primary-lightest: #C1E6FD;

$secondary: #FF8C00;
$secondary-dark: #A87639;
$secondary-darkest: #864A00;
$secondary-light: #FFBC6A;
$secondary-lightest: #FFE2BF;
