@import "./mixins";
@import "./fonts";
@import "./colors";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

*, *:before, *:after {
    @include transition(all 0.35s ease-in-out);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $black;
    @extend .font-normal;
}

code, pre {
    @extend .font-monospace;
}

a, .link {
    color: $primary-dark;
    text-decoration: underline;

    &:hover, &:focus {
        color: $secondary-dark;
        cursor: pointer;
    }

    @include dark-mode {
        color: $primary-light;

        &:hover, &:focus {
            color: $secondary-light;
        }
    }
}

button {
    @include button();
}

@mixin placeholder {
    color: $black;
    opacity: 0.5;

    @include dark-mode {
        color: $white;
    }
}

::placeholder { @include placeholder(); }
::-webkit-input-placeholder  { @include placeholder(); }
::-moz-placeholder  { @include placeholder(); }
:-moz-placeholder  { @include placeholder(); }
:-ms-input-placeholder  { @include placeholder(); }
::-ms-input-placeholder  { @include placeholder(); }

input, style, button, option {
    @extend .font-normal;
}

input, select, option {
    width: 10em;
    font-size: 0.8em;
    background: $white;
    color: $black;

    @include dark-mode {
        background: $light-black;
        color: $white;
    }
}

input[type=checkbox] {
    width: 1em;
}

@import "./range";

#main {
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}
