@import "core/mixins";
@import "core/fontAwesome";
@import "core/fonts";
@import "core/colors";

li.tree-view-node {
    & > .node-children {
        @include collapsable();

        &:empty {
            &::after {
                content: "Empty";
                margin-left: 1.5em;
                color: $dark-gray;
                font-style: italic;
            }
        }

        & > li {
            margin-left: 1em;
        }
    }

    & > header {
        & .node-key::after {
            content: " = ";
        }

        &:before {
            @include icon(square);
            font-size: 0.75em;
        }

        &.expandable {
            cursor: pointer;

            &:before {
                @include icon(plus-square);
                font-size: 0.75em;
            }
        }

        &.expanded {
            cursor: pointer;

            &:before {
                @include icon(minus-square);
                font-size: 0.75em;
            }
        }
    }
}
