<div id="{{id}}" class="gui">
	<div class="visualizer-pane-wrapper">
		<div class="visualizer-pane-logo"></div>
		<div class="visualizer-wrapper">
			<div class="renderer-wrapper"></div>
			<div class="game-pane-wrapper"></div>
		</div>
		<div class="playback-pane-wrapper">
	</div>
</div>