@import "src/core/colors";
@import "src/core/fontAwesome";
@import "src/core/mixins";

.settings-tab {
    & #resolution-width-field, & #resolution-height-field {
        margin-left: 2em;
    }

    & .no-settings {
        color: $dark-gray;
        font-style: italic;
    }

    & #resolution-type-field {
        margin-top: 1em;
    }

    & .reset-to-defaults {
        margin-bottom: 1em;

        &:before {
            @include icon('repeat');
            margin-right: 0.75em;
        }

        &:hover:before {
            @include rotate(360deg);
        }
    }
}
