@import "src/core/colors";
@import "src/core/mixins";

.game-pane {
    background-color: $light-gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    & .stats-list > li {
        display: inline;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }

    & .top-game-stats {
        width: 100%;
        background-color: $light-black;
        color: $white;
        text-align: center;
        padding: 0.25em 0;

        @include dark-mode {
            background-color: $black;
            color: $white;
        }

        & .stats-list {
            position: relative;
            width: 100%;
            z-index: 1001;
        }

        & .player-progress-bars {
            position: absolute;
            z-index: 1000;
            width: 100%;
            opacity: 0.666;

            & > div {
                height: 1em;
                display: inline-block;
            }
        }
    }

    & .players-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: fixed;

        & .humans-player .stat-0:after { // the first stat is the stat name
            font-style: italic;
            font-weight: normal;
            content: "(You)";
            margin-left: 0.25em;
        }

        & > .players {
            display: table-row;

            & .player {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding: 0.5em;

                background-color: $black;
                border: 0.25em $light-gray solid;
                color: $white;

                // programming language background
                background-repeat: no-repeat;
                background-position: center right 4px;
                background-size: 1.5em 1.5em;

                & li.stat {
                    & .icon {
                        margin-right: 0.125em;

                        &:not(.fa) {
                            font-style: normal;
                        }
                    }
                }

                & .stat-name {
                    font-weight: bold;
                }

                &.current-player {
                    border-color: $secondary;
                }
            }

            &.number-of-players-2 .player-1 {
                background-position: center left 4px;
            }
        }
    }
}
